:root {
  font-family: 'Futura', 'Century Gothic', 'Apple Gothic', 'Avenir Next', 'Avenir', 'Trebuchet MS', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #000000;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: #ffffff;
  color: #000000;
}

#root {
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
}

